.env
*.pem

app
!app/index.php

docker/php/ssh
!docker/php/ssh/.gitkeep

docker/php/apache
!docker/php/apache/.gitkeep

docker/db/db-persist/
!docker/db/db-persist/.gitkeep

#Certbot
app/certbot.log

.DS_Store
